@use "./partials/variables" as *;

body {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn {
  width: 20rem;
  background: $color-primary;
  padding: 1.5rem;
  border-radius: 35px;
  color: $color-secondary;
  border: none;
  font-size: 14px;
  transition: 0.2s;
  &:hover,
  &:active {
    background: linear-gradient(
      -45deg,
      $color-secondary-orange,
      $color-primary,
      $color-secondary-blue,
      $color-secondary-green
    );
    animation: gradient 15s ease infinite;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

div {
  background-color: rgba($color-secondary, 0.5);
  width: 80vw;
  height: 50vw;
}

@media (min-width: $desktop-width) {
  div {
    width: 50vw;
  }
}
