// Dimensions
$tablet-width: 768px;
$desktop-width: 1280px;

// Colors
$color-primary: #e73c7e;
$color-secondary: #fefdfc;
$color-secondary-orange: #ee7752;
$color-secondary-blue: #23a6d5;
$color-secondary-green: #23d5ab;
